<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings >
    <add key="mboxLocation" value ="C:\temp\notifications\Notifications.mbox"/>
    <add key="csvLocation" value ="C:\temp\notifications\Notifications.csv"/>
    
  </appSettings>
</configuration>