<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings >
    <add key="mboxLocation" value="C:\Temp\takeout-20230925T170121Z-001 (1)\notifications.mbox"/>
    <add key="csvLocation" value ="C:\temp\notifications\Notifications0925.csv"/>
    <add key="numDaysBack" value ="4"/>
    
    
  </appSettings>
</configuration>